body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: #f5f5f5;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
/* ON */
#toggleBtn.ON {
  background-color: green;
  color: white;
  border-color: darkgreen;
}

/* OFF */
#toggleBtn.OFF {
  background-color: red;
  color: white;
  border-color: darkred;
}
