.member-card {
  background-color: blanchedalmond;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  margin: 20px;
  text-align: center;
}

.member-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.member-name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

.member-role {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

.member-dob {
  font-size: 0.9em;
  color: #999;
  margin: 5px 0;
}

.edit-btn {
  background-color: hsl(24, 92%, 50%);
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.delete-btn {
  background-color: hsl(24, 92%, 50%);
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 5px;
}
